<nav class="navbar navbar-default" style="background-color:lightblue">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Challenge Site</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a routerLink="/" routerLinkActive="active">Home Page</a></li>
        <li><a routerLink="/login" routerLinkActive="active" *ngIf="!isUserLoggedIn">Log in</a></li>
        <li><a routerLink="/login" routerLinkActive="active" *ngIf="isUserLoggedIn">Log out</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        </ul>
    </div>
</nav>
<h5>{{ message }}</h5>
